<div class="navitagorDiv" th:fragment="html">
	<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
		<img style="margin-left:10px;margin-right:0px" class="pull-left" src="img/site/tmallbuy.png" height="45px">
		<a class="navbar-brand" href="#nowhere">tmall backend</a>
		
		<a class="navbar-brand" href="admin_category_list">category management</a>
		<a class="navbar-brand" href="admin_user_list">user management</a>
		<a class="navbar-brand" href="admin_order_list">order management</a>
	</nav>
</div>
