<div th:fragment="html">
    <script>
        $(function(){
            var data4Vue = {
                uri:"foreregister",
                result:[],
                user:{name:"",password:"",repeatPassword:""}
            };
            var vue = new Vue({
                el:"#workingArea",
                data:data4Vue,
                mounted:function(){
                    linkDefaultActions();
                },
                methods:{
                    register:function(){
                        var url =  this.uri;
                        if(0==this.user.name.length){
                            $("span.errorMessage").html("please input user name");
                            $("div.registerErrorMessageDiv").css("visibility","visible");
                            return;
                        }
                        if(0==this.user.password.length){
                            $("span.errorMessage").html("please input password");
                            $("div.registerErrorMessageDiv").css("visibility","visible");
                            return;
                        }
                        if(0==this.user.repeatpassword.length){
                            $("span.errorMessage").html("please confirm your password");
                            $("div.registerErrorMessageDiv").css("visibility","visible");
                            return;
                        }
                        if(this.user.password !=this.user.repeatpassword){
                            $("span.errorMessage").html("these two password should be same");
                            $("div.registerErrorMessageDiv").css("visibility","visible");
                            return;
                        }
                        axios.post(url,this.user).then(function(response){
                            var result = response.data;
                            if(result.code==0){
                                location.href="registerSuccess";
                            }
                            else{
                                $("span.errorMessage").html(result.message);
                                $("div.registerErrorMessageDiv").css("visibility","visible");
                            }
                        })
                    }
                }
            })
        })

    </script>
    <div class="registerDiv">
        <div class="registerErrorMessageDiv">
            <div class="alert alert-danger" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                <span class="errorMessage"></span>
            </div>
        </div>

        <table class="registerTable" align="center">
            <tr>
                <td  class="registerTip registerTableLeftTD">set user name</td>
                <td></td>
            </tr>
            <tr>
                <td class="registerTableLeftTD">user name</td>
                <td  class="registerTableRightTD"><input v-model="user.name" placeholder="会员名一旦设置成功，无法修改" > </td>
            </tr>
            <tr>
                <td  class="registerTip registerTableLeftTD">set password</td>
                <td  class="registerTableRightTD">to protect your account</td>
            </tr>
            <tr>
                <td class="registerTableLeftTD">login password</td>
                <td class="registerTableRightTD"><input v-model="user.password"  type="password"  placeholder="set your login password" > </td>
            </tr>
            <tr>
                <td class="registerTableLeftTD">confirm your password</td>
                <td class="registerTableRightTD"><input v-model="user.repeatpassword"   type="password"  placeholder="please input your password again" > </td>
            </tr>

            <tr>
                <td colspan="2" class="registerButtonTD">
                    <a @click="register"><button>submit</button></a>
                </td>
            </tr>
        </table>
    </div>
</div>