<div th:fragment="html">
    <div  :cid="c.id" class="productsAsideCategorys" v-for="c in categories">
        <div class="row show1" v-for="ps in c.productsByRow">
            <a :href="'product?pid='+p.id" v-for="p in ps" v-if="p.subTitle.length!=0" v-if="!p.ifRecommend">
                {{p.subTitle | subTitleFilter}}
            </a>
            <a :href="'product?pid='+p.id" v-for="p in ps" v-if="p.subTitle.length!=0" v-if="p.ifRecommend" style="color:#87CEFA">
                {{p.subTitle | subTitleFilter}}
            </a>
            <div class="seperator"></div>
        </div>
    </div>
</div>